@import url('./fonts/gilroy-bold.css');
@import url('./fonts/gilroy-medium.css');

.body {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
}

.header {
    display: flex;
    min-height: 3vw;
    border-bottom: 1px solid #828282;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.main-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.link {
    color: black;
    text-decoration: none;
    transition: opacity 0.3s;
}

.link:hover {
    opacity: 0.5;
}

.main {
    background-color: rgba(233, 233, 233, 0.4);
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.main-section {
    background-color: white;
    background-image: url(./image/background-main-section.png);
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    overflow: hidden;
    position: relative;
}

.profile-name {
    margin-left: 50px;
}

.foto {
    width: 45%;
    justify-self: self-end;
    z-index: 1;
}

.main-section__square-pic {
    position: absolute;
    right: 0px;
    top: 64px;
    height: 450px;
    width: 450px;
    border: 30px solid #cbbaeb;
    z-index: 0;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotation {
    animation: rotation 20s linear infinite;
}

.title {
    font-family: 'Gilroy-Bold';
    font-weight: bold;
}

.title_main {
    font-size: 48px;
    width: min-content;
    margin-bottom: 0;
}

.title_sub {
    font-size: 34px;
    margin-bottom: 20px;
}

.title_sub:nth-child(1) {
	padding-top: 15px;
}

.text {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    margin: 0 40px;
}

.footer {
    background-color: #444242;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.icons {
    width: 80%;
    text-align-last: justify;
    margin-bottom: 30px;
}